.root { 
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #303030;
    -fx-light-text-color: #e0e0e0;
    -fx-box-border: #2b2b2b;
}

.scroll-bar:horizontal {
    -fx-background-color: derive(-fx-box-border,30%), linear-gradient(to bottom, derive(-fx-base,5%), derive(-fx-base,15%) 50%, derive(-fx-base,5%));
    -fx-background-insets: 0, 1 0 1 0;
}
.scroll-bar:vertical {
    -fx-background-color: derive(-fx-box-border,30%), linear-gradient(to right, derive(-fx-base,5%), derive(-fx-base,15%) 50%, derive(-fx-base,5%));
    -fx-background-insets: 0, 0 1 0 1;
}
.scroll-bar:focused {
    -fx-background-color:
        -fx-focus-color,
        linear-gradient(to bottom, derive(-fx-base,-3%), derive(-fx-base,5%) 50%, derive(-fx-base,-3%)),
        -fx-faint-focus-color,
        linear-gradient(to bottom, derive(-fx-base,-3%), derive(-fx-base,5%) 50%, derive(-fx-base,-3%));
    -fx-background-insets: -0.2, 1, -1.4, 2.6;
}
.scroll-bar:vertical:focused {
    -fx-background-color:
        -fx-focus-color,
        linear-gradient(to right, derive(-fx-base,-3%), derive(-fx-base,5%) 50%, derive(-fx-base,-3%)),
        -fx-faint-focus-color,
        linear-gradient(to right, derive(-fx-base,-3%), derive(-fx-base,5%) 50%, derive(-fx-base,-3%));
}

.menu-item .label {
    -fx-text-fill: -fx-dark-text-color;
}

.menu-item:hover .label,
.menu-item:focused .label {
    -fx-text-fill: -fx-focused-text-base-color;
}
.check-menu-item:checked > .left-container > .check {
    -fx-background-color: -fx-dark-text-color;
}
.check-menu-item:checked:hover > .left-container > .check,
.check-menu-item:checked:focused > .left-container > .check
 {
    -fx-background-color: -fx-focused-text-base-color;
}
